---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
IndentWidth: 2
AlignAfterOpenBracket: true
AlignConsecutiveAssignments: false
AlignOperands: true
AllowShortIfStatementsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AlwaysBreakAfterReturnType: All
AlwaysBreakBeforeMultilineStrings: true
BinPackArguments: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: true
  AfterFunction: true
  AfterStruct: true
  AfterUnion: true
  BeforeElse: true
IndentCaseLabels: false
# IndentPPDirectives: AfterHash
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
PointerAlignment: Right
